body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 2000%;
  animation: gradient 15s ease infinite;
  margin: 0;
  position: relative;
  min-height: 100vh;
  margin-top: 10vh;
}
header {
  font-family: "Saira Condensed", sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header li {
  display: inline;
  float: left;
}

header a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
}
header a:hover {
  color: rgb(196, 194, 194);
  transition: color 1s;
  transition-timing-function: ease;
  text-decoration: none;
}
#github {
  color: hsla(0, 0%, 100%, 0.445);
}
#github:hover {
  color: hsla(0, 0%, 100%, 0.788);
  transition: color 1s;
  transition-timing-function: ease;
}
#title-center {
  margin-left: 42vw;
  font-size: 17px;
}
#gallery {
  width: 50%;
  /* border: solid 1px black; */
  box-shadow: 0px 0px 10px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  padding-left: 48%;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
}
footer a {
  display: inline-block;
  color: white;
}
nav {
  font-family: "Saira Condensed", sans-serif;
  font-size: 3vh;
}
