body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
  margin: 0;
  position: relative;
  min-height: 100vh;
  /* margin-top: 10vh; */
  /* padding-top: 10vh; */
  overflow: auto;
}
header {
  font-family: "Saira Condensed", sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header li {
  display: inline;
  float: left;
}

header a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
}
header a:hover {
  color: rgb(196, 194, 194);
  transition: color 1s;
  transition-timing-function: ease;
  text-decoration: none;
}
#github {
  color: hsla(0, 0%, 100%, 0.445);
}
#github:hover {
  color: hsla(0, 0%, 100%, 0.788);
  transition: color 1s;
  transition-timing-function: ease;
}
#facebook {
  color: hsla(0, 0%, 100%, 0.445);
}
#facebook:hover {
  color: hsla(0, 0%, 100%, 0.788);
  transition: color 1s;
  transition-timing-function: ease;
}
#google {
  color: hsla(0, 0%, 100%, 0.445);
}
#google:hover {
  color: hsla(0, 0%, 100%, 0.788);
  transition: color 1s;
  transition-timing-function: ease;
}
#title-center {
  margin-left: 42vw;
  font-size: 17px;
}
#gallery {
  width: 50%;
  /* border: solid 1px black; */
  box-shadow: 0px 0px 10px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#cycle5images {
  margin-top: 10vh;
}
footer {
  padding-left: 48%;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  margin-top: 3vh;
}
footer a {
  display: inline-block;
  color: white;
}
nav {
  font-family: "Saira Condensed", sans-serif;
  font-size: 3vh;
}
table {
  border: 1px gray solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 95%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px black;
}
#merged_cells th,
#merged_cells td {
  border: solid 1px gray;
  text-align: center;
  padding: 0.5%;
  font-family: "Saira Condensed", sans-serif;
}
#merged_cells tr:nth-child(even) {
  background-color: #3c434b;
  color: white;
}
#merged_cells tr:nth-child(odd) {
  background-color: #2d3236;
  color: white;
}
#merged_cells tr th {
  background-color: #24282c;
}
#merged_cells tr:hover {
  color: rgb(196, 194, 194);
  transition: color 0.5s;
  transition-timing-function: ease;
}
#merged_cells caption {
  caption-side: top;
  text-align: center;
  color: black;
  font-family: "Saira Condensed", sans-serif;
  font-size: 4vh;
}
form {
  width: 85%;
  margin: auto;
  margin-top: 10vh;
  padding-top: 8vh;
  margin-bottom: 2vh;
  z-index: 2;
  font-family: "Saira Condensed", sans-serif;
  font-size: 4vh;
}
#my_skills {
  width: 90%;
  font-family: "Saira Condensed", sans-serif;
  font-size: min(3vh, 3vw);
  margin-top: 4vh;
  /* margin-bottom: 4vh; */
}
#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  /* padding-top: 3rem; */
}
#contact {
  color: black;
  font-family: "Saira Condensed", sans-serif;
  font-size: 7vh;
}
#external-links {
  margin: auto;
}
#contact-info {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 0;
}
#external-links #github,
#external-links #facebook,
#external-links #google {
  margin-left: 1vw;
  margin-right: 1vw;
}
.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.about-me {
  width: 95%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 4vh;
  margin-right: 2vw;
  /* margin-left: 2vw; */
  min-height: 100px;
  overflow: hidden;
  font-family: "Jetbrains Mono", monospace;
  /* font-size: min(2vh, 2vw); */
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.about-me img {
  height: 40vh;
  object-fit: contain;
  display: block;
  float: right;
  box-shadow: 0px 0px 10px black;
  border: black 1px solid;
}
.about-me .left {
  /* display: inline-block; */
  width: 60%;
  float: left;
  margin-left: 10vw;
  margin-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#about-heading {
  display: block;
  width: 100%;
  font-size: 5vh;
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  margin-top: 2vh;
}
#my-profile {
  width: 25vw;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: block;
  box-shadow: 0px 0px 5px black;
}
#home-page-intro {
  font-family: "Saira Condensed", sans-serif;
  font-size: 3vh;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
figure figcaption {
  text-align: center;
  font-family: "Playball", cursive;
  font-size: 4vh;
}
#assignment-specifications {
  font-family: "Jetbrains Mono", monospace;
  width: 90%;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
@media (max-width: 768px) {
  .about-me {
    width: 100%;
    margin: auto;
    display: inline-block;
  }
  .about-me img {
    clear: both;
    float: none;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .about-me .left {
    /* display: block; */
    width: 90vw;
    clear: both;
    margin: auto;
    margin-left: 2vw;
  }

  #merged_cells {
    width: 100%;
  }
  #merged_cells tr {
    font-size: 2vw;
  }
  #gallery {
    width: 90%;
    margin: auto;
  }
  #my-profile {
    width: 60%;
    transition-property: width;
    transition-timing-function: ease 0.5s;
    margin: auto;
  }
  #home-page-intro {
    padding-right: 1vw;
    padding-left: 1vw;
  }
  #assignment-specifications h1 {
    font-size: 10vw;
  }
  #contact {
    font-size: 10vw;
  }
}
@media (max-width: 1400px) {
  .about-me {
    width: 100%;
    margin: auto;
    display: inline-block;
  }
  .about-me img {
    clear: both;
    float: none;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .about-me .left {
    /* display: block; */
    width: 95vw;
    clear: both;
    margin: auto;
    margin-left: 2vw;
  }
}
